<?xml version="1.0"?>
<gconf>
	<entry name="video_rename" mtime="1483820640" type="list" ltype="string">
		<li type="string">
			<stringvalue>Date time</stringvalue>
		</li>
		<li type="string">
			<stringvalue>Video date</stringvalue>
		</li>
		<li type="string">
			<stringvalue>YYYY-MM-DD</stringvalue>
		</li>
		<li type="string">
			<stringvalue>Text</stringvalue>
		</li>
		<li type="string">
			<stringvalue>-</stringvalue>
		</li>
		<li type="string">
			<stringvalue></stringvalue>
		</li>
		<li type="string">
			<stringvalue>Filename</stringvalue>
		</li>
		<li type="string">
			<stringvalue>Name + extension</stringvalue>
		</li>
		<li type="string">
			<stringvalue>Original Case</stringvalue>
		</li>
	</entry>
	<entry name="video_subfolder" mtime="1483820683" type="list" ltype="string">
		<li type="string">
			<stringvalue>Date time</stringvalue>
		</li>
		<li type="string">
			<stringvalue>Video date</stringvalue>
		</li>
		<li type="string">
			<stringvalue>YYYY</stringvalue>
		</li>
		<li type="string">
			<stringvalue>/</stringvalue>
		</li>
		<li type="string">
			<stringvalue></stringvalue>
		</li>
		<li type="string">
			<stringvalue></stringvalue>
		</li>
		<li type="string">
			<stringvalue>Date time</stringvalue>
		</li>
		<li type="string">
			<stringvalue>Video date</stringvalue>
		</li>
		<li type="string">
			<stringvalue>MM</stringvalue>
		</li>
	</entry>
	<entry name="video_download_folder" mtime="1483820577" type="string">
		<stringvalue>/run/user/1000/gvfs/smb-share:server={{ homeserver_host }},share=picture</stringvalue>
	</entry>
	<entry name="image_rename" mtime="1483820549" type="list" ltype="string">
		<li type="string">
			<stringvalue>Date time</stringvalue>
		</li>
		<li type="string">
			<stringvalue>Image date</stringvalue>
		</li>
		<li type="string">
			<stringvalue>YYYY-MM-DD</stringvalue>
		</li>
		<li type="string">
			<stringvalue>Text</stringvalue>
		</li>
		<li type="string">
			<stringvalue>-</stringvalue>
		</li>
		<li type="string">
			<stringvalue></stringvalue>
		</li>
		<li type="string">
			<stringvalue>Filename</stringvalue>
		</li>
		<li type="string">
			<stringvalue>Name + extension</stringvalue>
		</li>
		<li type="string">
			<stringvalue>Original Case</stringvalue>
		</li>
	</entry>
	<entry name="subfolder" mtime="1483820683" type="list" ltype="string">
		<li type="string">
			<stringvalue>Date time</stringvalue>
		</li>
		<li type="string">
			<stringvalue>Image date</stringvalue>
		</li>
		<li type="string">
			<stringvalue>YYYY</stringvalue>
		</li>
		<li type="string">
			<stringvalue>/</stringvalue>
		</li>
		<li type="string">
			<stringvalue></stringvalue>
		</li>
		<li type="string">
			<stringvalue></stringvalue>
		</li>
		<li type="string">
			<stringvalue>Date time</stringvalue>
		</li>
		<li type="string">
			<stringvalue>Image date</stringvalue>
		</li>
		<li type="string">
			<stringvalue>MM</stringvalue>
		</li>
	</entry>
	<entry name="download_folder" mtime="1483819876" type="string">
		<stringvalue>/run/user/1000/gvfs/smb-share:server={{ homeserver_host }},share=picture</stringvalue>
	</entry>
	<entry name="main_window_size_y" mtime="1483820270" type="int" value="1350"/>
	<entry name="main_window_size_x" mtime="1483820270" type="int" value="2162"/>
	<entry name="vpaned_pos" mtime="1483819797" type="int" value="47"/>
	<entry name="day_start" mtime="1483819755" type="string">
		<stringvalue>3:0</stringvalue>
	</entry>
	<entry name="downloads_today" mtime="1483819755" type="list" ltype="string">
		<li type="string">
			<stringvalue>2017-01-08</stringvalue>
		</li>
		<li type="string">
			<stringvalue>0</stringvalue>
		</li>
	</entry>
	<entry name="main_window_maximized" mtime="1483819747" type="int" value="0"/>
	<entry name="program_version" mtime="1483819698" type="string">
		<stringvalue>0.4.11</stringvalue>
	</entry>
</gconf>
