<settings>
    <setting id="autochannelgroups" value="false" />
    <setting id="convertchar" value="true" />
    <setting id="handlemessages" value="true" />
    <setting id="host" value="{{ kodi_vdr_host }}" />
    <setting id="iconpath" value="" />
    <setting id="port" value="{{ kodi_vdr_port }}" />
    <setting id="priority" value="1" />
    <setting id="timeout" value="3" />
    <setting id="timeshift" value="1" />
</settings>
