<sources>
    <programs>
        <default pathversion="1"></default>
    </programs>
{% for share in kodi_media_sources %}
    <{{ share.media_type }}>
      <default pathversion="1"></default>
      <source>
          <name>{{ share.name }}</name>
          <path pathversion="1">{{ share.mount }}</path>
          <allowsharing>false</allowsharing>
      </source>
    </{{ share.media_type }}>
{% endfor %}
    <files>
        <default pathversion="1"></default>
    </files>
</sources>
