<sources>
    <programs>
        <default pathversion="1"></default>
    </programs>
{% for share in public_file_shares %}
    <{{ share.kodi_source }}>
      <default pathversion="1"></default>
      <source>
          <name>{{ share.name }}@{{ homeserver_host }}</name>
          <path pathversion="1">{{ share.mount }}</path>
          <allowsharing>false</allowsharing>
      </source>
    </{{ share.kodi_source }}>
{% endfor %}
    <files>
        <default pathversion="1"></default>
    </files>
</sources>
